.hero {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: space-between;
  padding: 10rem;

  @media only screen and (max-width: $bp-full) {
    padding: 5rem;
  }

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 5rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    gap: 5rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    &__heading {
      font-size: 6.4rem;
      line-height: 8.4rem;

      @media only screen and (max-width: $bp-full) {
        font-size: 5rem;
        line-height: 7rem;
      }

      @media only screen and (max-width: $bp-smallest) {
        font-size: 3rem;
        line-height: 4rem;
      }
    }

    & span {
      color: var(--color-primary);
    }

    &__subheading {
      font-size: 1.8rem;
      color: var(--color-black);

      & span {
        font-weight: bold;
        color: var(--color-black);
      }
    }
  }

  &__btn {
    align-self: baseline;
    padding: 1.5rem 5rem;
    background-color: var(--color-primary);
    color: white;
    font-family: "Poppins";
    border-radius: 1rem;
    font-size: 2rem;
    border: none;
    outline: none;
    transition: 0.5s all;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.5) 0px 10px 10px -5px;
    &:hover {
      background-color: var(--color-secondary);
    }
  }

  &__image {
    animation: UpAndDown 5s linear 2s infinite alternate;

    & img {
      height: 100%;

      @media only screen and (max-width: $bp-full) {
        height: 50rem;
      }

      @media only screen and (max-width: $bp-smallest) {
        height: 20rem;
      }


    }
  }
}
